@charset "UTF-8";
/* -------------------------------------------------- FOOTER + LOGO INFERIOR */
footer {
  grid-area: footer;
  text-align: center;
  padding: 10px; }

.footerBorder {
  background-color: #A5BAB6;
  height: 5px; }

.footerImg {
  margin: 15px;
  height: 65px; }

.footerBorder--ancho {
  background-color: #A5BAB6;
  height: 45px;
  text-align: left;
  padding: 10px; }

.fab {
  text-decoration: none;
  color: inherit; }

.fab:hover {
  opacity: 0.7; }

/* -------------------------------------------------- NAV + LOGO SUPERIOR +1200 */
@media only screen and (min-width: 1200px) {
  .bordeSuperior {
    background-color: #A5BAB6;
    min-height: 10px;
    width: 100%;
    position: fixed; }
  .imgLogoHeader {
    height: 187px;
    margin-top: 10px;
    margin-left: 10%;
    padding: 15px;
    float: left; }
  header {
    height: 195px; }
  nav {
    height: 195px;
    text-align: right;
    font-size: 20px; }
  .nav-item-active {
    font-weight: bolder; }
  ul {
    padding-right: 50px;
    padding-top: 130px; } }

/* -------------------------------------------------- NAV + LOGO SUPERIOR  -1200 */
@media only screen and (max-width: 1200px) {
  .bordeSuperior {
    background-color: #A5BAB6;
    min-height: 10px;
    width: 100%;
    position: fixed; }
  .imgLogoHeader {
    height: 87px;
    margin-top: 10px;
    margin-left: 10%;
    padding: 15px;
    float: left; }
  header {
    height: 95px; }
  nav {
    height: 95px;
    text-align: right;
    font-size: 20px; }
  .nav-item-active {
    font-weight: bolder; }
  ul {
    padding-right: 50px;
    padding-top: 30px; } }

/* -------------------------------------------------- NAV + LOGO SUPERIOR  -940 */
@media only screen and (max-width: 940px) {
  .bordeSuperior {
    background-color: #A5BAB6;
    min-height: 10px;
    width: 100%;
    position: fixed; }
  .imgLogoHeader {
    height: 110px;
    margin-top: 50px;
    margin-left: 10%;
    padding: 15px;
    float: left; }
  header {
    height: 185px; }
  nav {
    height: 185px;
    text-align: right;
    font-size: 15px; }
  .nav-item-active {
    font-weight: bolder; }
  ul {
    padding-right: 50px;
    padding-top: 30px; } }

/* -------------------------------------------------- HOME +1200 */
@media only screen and (min-width: 1200px) {
  .wanderlustHome {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;
    justify-content: space-evenly; }
  .wanderlustHome__foto {
    display: inline-block;
    border-radius: 10px; }
  .wanderlustHome__definicion {
    margin-top: 50px;
    padding: 10px;
    max-width: 700px; }
  .wanderlustHome__titulo {
    padding: 10px;
    background-color: #A5BAB6;
    border-radius: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold; }
  .wanderlustHome__texto--italic {
    font-style: italic; }
  .side {
    display: inline-block;
    vertical-align: top; }
  .parallax {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/fondo_mapa.jpg");
    width: auto;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; } }

/* -------------------------------------------------- HOME -1200 */
@media only screen and (max-width: 1200px) {
  .side {
    text-align: center; }
  .wanderlustHome__foto {
    display: none; }
  .wanderlustHome__definicion {
    padding: 10px;
    text-align: center;
    font-size: 20px; }
  .wanderlustHome__titulo {
    padding: 15px;
    background-color: #A5BAB6;
    border-radius: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold; }
  .parallax {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../img/fondo_paisaje.jpg");
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; } }

/* -------------------------------------------------- QUIENES SOMOS +1200 */
@media only screen and (min-width: 1200px) {
  .gridQuienesSomos {
    margin-top: 30px;
    display: grid;
    width: 98%;
    grid-template-columns: 50% 25% 25%;
    grid-column-gap: 10px;
    grid-template-rows: 100px 200px 200px 100px;
    grid-row-gap: 10px;
    grid-template-areas: "titular foto1QuienesSomos foto2QuienesSomos" "textoQuienesSomos foto1QuienesSomos foto2QuienesSomos" "textoQuienesSomos foto3QuienesSomos foto4QuienesSomos" "corazonLatiendo foto3QuienesSomos foto4QuienesSomos"; }
  .seccionSomos {
    grid-area: titular;
    justify-self: center;
    align-self: center; }
  .seccionSomos__titulo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: bold; }
  .texto {
    margin-left: 10px; }
  .seccionSomos__texto {
    grid-area: textoQuienesSomos;
    padding: 25px;
    background-color: #A5BAB6;
    border-radius: 5px;
    font-size: 13px !important; }
  .seccionSomos__fotos {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; }
  .seccionSomos__fotos--super:hover {
    transform: scale(1.2, 1.2); }
  #foto1QuienesSomos {
    grid-area: foto1QuienesSomos; }
  #foto2QuienesSomos {
    grid-area: foto2QuienesSomos; }
  #foto3QuienesSomos {
    grid-area: foto3QuienesSomos; }
  #foto4QuienesSomos {
    grid-area: foto4QuienesSomos; }
  #corazonLatiendo {
    grid-area: corazonLatiendo;
    padding: 20px;
    justify-self: center; }
  /* C8 = CORAZÓN */
  .corazon {
    position: absolute;
    margin: auto;
    background-color: #033142;
    height: 40px;
    width: 40px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite; }
  .corazon:after {
    background-color: #033142;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 25px; }
  .corazon:before {
    background-color: #033142;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -25px;
    left: 0px; }
  @keyframes backdiv {
    50% {
      background: #ffe6f2; } }
  @keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg); }
    50% {
      transform: scale(0.6) rotate(-45deg); } } }

/* -------------------------------------------------- QUIENES SOMOS -1200 */
@media only screen and (max-width: 1200px) {
  .gridQuienesSomos {
    padding-top: 10px;
    display: grid;
    width: 98%;
    grid-template-columns: 100%;
    grid-column-gap: 10px;
    grid-template-rows: 100px 540px;
    grid-row-gap: 10px;
    grid-template-areas: "titular" "textoQuienesSomos"; }
  .seccionSomos {
    grid-area: titular;
    justify-self: center;
    align-self: center; }
  .seccionSomos__titulo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold; }
  .seccionSomos__texto {
    grid-area: textoQuienesSomos; }
  .texto {
    height: 530px;
    font-size: small;
    background-color: #A5BAB6;
    padding: 45px;
    margin-left: 10px;
    border-radius: 5px;
    align-items: stretch;
    justify-items: stretch;
    overflow: scroll; }
  .seccionSomos__fotos {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; }
  #foto1QuienesSomos {
    display: none; }
  #foto3QuienesSomos {
    display: none; }
  #corazonLatiendo #foto2QuienesSomos #foto4QuienesSomos {
    display: none; }
  #foto4QuienesSomos {
    display: none; }
  #foto2QuienesSomos {
    display: none; } }

/* -------------------------------------------------- CONTACTO +1200 */
@media only screen and (min-width: 1200px) {
  .gridContacto {
    padding-top: 2px;
    display: grid;
    width: 99%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-template-rows: 110px 400px 630px;
    grid-row-gap: 10px;
    grid-template-areas: "descripcionSecciones descripcionSecciones" "carouselExampleSlidesOnly carouselExampleSlidesOnly" "formularioContacto mapaContacto"; }
  #descripcionSecciones {
    grid-area: descripcionSecciones; }
  #carouselExampleSlidesOnly {
    grid-area: carouselExampleSlidesOnly; }
  #formularioContacto {
    margin-left: 10px;
    grid-area: formularioContacto;
    background-color: #A5BAB6; }
  #mapaContacto {
    grid-area: mapaContacto;
    justify-content: center; }
  .formConsulta {
    margin: 10px;
    padding: 5px; }
  .carousel-item {
    text-align: center; }
    .carousel-item img {
      margin: 0 auto;
      max-height: 395px; } }

/* -------------------------------------------------- HOME -1200 */
@media only screen and (max-width: 1200px) {
  #descripcionSecciones {
    display: none; }
  #formularioContacto {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A5BAB6;
    zoom: 70%; }
  .formConsulta {
    margin: 10px;
    padding: 5px; } }

/* -------------------------------------------------- HOME -940 */
@media only screen and (max-width: 940px) {
  #carouselExampleSlidesOnly {
    display: none; }
  #descripcionSecciones {
    display: none; }
  #formularioContacto {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A5BAB6;
    zoom: 70%; }
  .formConsulta {
    margin: 10px;
    padding: 5px; } }

/* -------------------------------------------------- SECCIONES DE INFO: SERVICIOS + DESTINOS + CLIENTES */
@media only screen and (min-width: 1200px) {
  #descripcionSecciones {
    padding: 30px;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold; }
  .seccion__titulo {
    padding: 20px;
    background-color: #A5BAB6;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    font-size: 30px; }
  .seccion__contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; }
  .seccion__info {
    flex-basis: 100px;
    display: inline-block;
    text-align: center; }
  .seccion__foto {
    border-radius: 5px;
    width: 300px;
    height: 300px; }
  .seccion__foto--ampliar:hover {
    transform: scale(1.6, 1.6); }
  .seccion__subtitulo {
    padding: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold; }
  /* -------------------------------------------------- TABLA PRÓXIMAS SALIDAS */
  table {
    border: slategrey 5px solid; }
  th {
    background-color: olive;
    border: 2px solid; }
  td {
    border: slategrey 2px solid; }
  #proxSalidas__tabla {
    width: 70%; }
  #proxSalidas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; }
  .secciónInfo {
    flex-basis: 100px;
    display: inline-block; }
  .proxSalidas__destino--urgente {
    font-weight: bolder;
    color: red; } }

/* -------------------------------------------------- HOME -1200 */
@media only screen and (max-width: 1200px) {
  .seccion__contenido {
    margin-top: 15px; }
  .articulo_info {
    padding: 10px; }
  .seccion__descripcion {
    text-align: center;
    font-size: 15px; }
  .seccion__info {
    flex-basis: 100px;
    text-align: center; }
  .seccion__foto {
    border-radius: 5px;
    width: 200px;
    height: 200px; }
  .seccion__subtitulo {
    padding: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold; }
  /* -------------------------------------------------- TABLA PRÓXIMAS SALIDAS */
  table {
    border: slategrey 5px solid; }
  th {
    background-color: olive;
    border: 2px solid; }
  td {
    border: slategrey 2px solid; }
  #proxSalidas__tabla {
    width: 70%; }
  #proxSalidas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; }
  .secciónInfo {
    flex-basis: 100px;
    display: inline-block; }
  .proxSalidas__destino--urgente {
    font-weight: bolder;
    color: red; }
  .proxSalidas__cel {
    display: none; } }

/* -------------------------------------------------- EN CONSTRUCCIÓN */
.imgEnConstruccion {
  padding: 15px;
  width: 100%;
  height: 800px;
  text-align: center;
  border-radius: 70px; }
